<p style="color: green"><%= notice %></p>

<%= render @holiday %>

<div>
  <%= link_to "Edit this holiday", edit_holiday_path(@holiday), class: "btn btn-secondary" %>
  <%= link_to "Back to holidays", holidays_path, class: "btn btn-light" %>

  <%= button_to "Destroy this holiday", @holiday, class: "btn btn-danger mt-3", method: :delete %>
</div>
